html, body {
    font-family: 'Quicksand', sans-serif;
    margin: 0;
    padding: 0;
    background: #000000;  
    background: -webkit-linear-gradient(to bottom right, #242424, #000000); 
    background: linear-gradient(to bottom right, #242424, #000000);  


}

.modal {
      transition: opacity 0.25s ease;
}
body.modal-active {
  overflow-x: hidden;
  overflow-y: visible !important;
}