html, body {
    font-family: 'Quicksand', sans-serif;
    margin: 0;
    padding: 0;
    /* background: #000000;  
    background: -webkit-linear-gradient(to bottom right, #242424, #000000); 
    background: linear-gradient(to bottom right, #242424, #000000);  W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    background: #FC466B;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom right, #3F5EFB, #FC466B);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom right, #3F5EFB, #FC466B); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.modal {
      transition: opacity 0.25s ease;
}
body.modal-active {
  overflow-x: hidden;
  overflow-y: visible !important;
}